# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode11
language: swift
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -workspace Example/KVKCalendar.xcworkspace -scheme KVKCalendar-Example -destination 'platform=iOS Simulator,name=iPhone 11,OS=14.0' ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
